<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>MRL Control -- Started: ${str(date)}</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="static/css/bootstrap-theme.min.css" rel="stylesheet">

    <style type="text/css">
        .hdiv {
          display: flex;
          justify-content: space-between;
        }

        video.video-display {
            width: auto;
            height: auto;
        }
    </style>
  </head>

  <body>

    <!-- Fixed navbar -->
    <!-- <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">MRL Control</a>
        </div>
      </div>
    </nav> -->

    <div class="container theme-showcase" role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
         <div class='hdiv'>
           <div id='p5-controls'></div>
         </div>
         <div id="alert-div">
           <div id="success-alert" class="alert alert-success" role="alert">
             <strong>This is good!</strong> Everything is going as it should.
           </div>
           <div id="info-alert" class="alert alert-info" role="alert">
             <strong>One more step in the right direction.</strong> Keep going.
           </div>
           <div id="danger-alert" class="alert alert-danger" role="alert">
             <strong>Oh snap!</strong> Houston, we have a problem!
           </div>
         </div>
      </div>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/p5.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/controls.js"></script>
  </body>
</html>
